.anabar__flex-table .th .tr:last-child .td {
  padding-top: 1em;
  height: 2.5em;
}

.anabar__flex-table .th .tr .td.filtered {
  padding-top: 1em;
  height: 3.5em;
}

.anabar__flex-table .th .tr .td: {
  padding-top: 1em;
  height: 3.5em;
}

.anabar__flex-table .tr .td.vendor-code {
  flex-shrink: 1.05;
  min-width: 2.5em;
}

.anabar__flex-table .tr .td.photo,
.anabar__flex-table .tr .td.sales-graphic {
  flex-shrink: 1.02;
  min-width: 2.5em;
}

.anabar__flex-table .td.align-right .actions {
  right: 0;
  left: auto;
}

.anabar__flex-table .actions {
  position: absolute;
  /* top: 0; */
  bottom: 100%;
  left: 0;
  display: flex;
  align-items: flex-end;
}

.anabar__flex-table .actions.hidden {
  transition: 0.3s opacity ease;
  opacity: 0;
  pointer-events: none;
}

.anabar__flex-table .actions.hidden.sorted {
  transition: 0.3s opacity ease;
  opacity: 1;
  pointer-events: all;
}

.anabar__flex-table .actions.hidden.sorted .actions__btn:not(.actions__btn--sort) {
  transition: 0.3s opacity ease;
  opacity: 0;
  pointer-events: none;
}

.anabar__flex-table .actions__btn {
  background: none !important;
  border: 0;
  padding: 0 0.1em;
  cursor: pointer;
}

.anabar__flex-table .actions__btn:hover {
  color: rgb(0, 90, 255);
}

.anabar__flex-table .actions__btn svg {
  display: block;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.anabar__flex-table .actions__btn--sort-asc svg {
  transform: scaleY(-1);
}

.anabar__flex-table .th .tr .td.align-right .cell {
  width: auto;
}
.anabar__flex-table .th .tr .td.align-right .columns-filter {
  padding-left: 1em;
}

.anabar__flex-table .columns-filter {
  text-align: left;
  font-size: 0.85em;
  margin-top: 0.3em;
}

/* .anabar__flex-table .tbody .tr .td.hover-show:hover .cell {
  pointer-events: auto;
} */

.ids .columns-filter input {
  height: 1em;
}

.hidden-columns {
  margin-bottom: 1em; 
}

.hidden-columns__item {
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
}

.hidden-columns__item--all {
  margin-left: 1em;
}

.hidden-columns__item:hover {
  color: RGB(var(--ids__hover-RGB));
}

/* .anabar__flex-table .tbody .tr .td.photo .cell {
  height: 100%;
}

.anabar__flex-table .tbody .tr .td.photo .cell img {
  height: 90%;
  object-fit: contain;
} */